[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "downloadpytorch"

[packages]
jupyter = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
tensorboard = "*"
jupyterthemes = "*"
seaborn = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.9"
