[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = false
name = "pytorch"

[packages]
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torchaudio = {version = "*", index = "pytorch"}
jupyter = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
imageio = "*"
torchsummary = "*"

[dev-packages]

[requires]
python_version = "3.9"
